
body{
    font-family: 'Inter', sans-serif;
}
h1, h2, h3, h4, h5, p, a, div{
    line-height: 1.5em;
}
a{
    text-decoration: none;
    transition: all 0.3s ease-out;
    &:hover{
        color: var(--primary);
    }
}
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
