:root {
    --white: #fff;
    --primary: #C6A067;
    --black: #000;
    --text: #666;
    --green: #90B948;
}

.text-primary2{
    color: var(--primary);
}

.bg-whatsap{
    background-color: #25D366!important;
}
.bg-fb{
    background-color: #4267B2!important;
}
.bg-insta{
    background-color: #C13584!important;
}
.bg-x{
    background-color: #000!important;
}
.bg-linkedin{
    background-color: #0a66c2!important;
}